.logs-warp {
  padding: 48rpx;
  .logs-item {
    margin-bottom: 20rpx;
    .logs-item-title {
      font-size: 28rpx;
    }
    .logs-item-content {
      padding-left: 40rpx;
      font-size: 24rpx;
    }
  }
}